<!DOCTYPE html>
<html>
<head>
	<title>TriviaBomb: inicio || {{name}}</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="inicio.css">
	<link rel="icon" type="image/PNG" href="icono.png">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<script src="socket.io/socket.io.js"></script>
	<script type="text/javascript">
		var socket = io();
	</script>
	<img src="logo.png">
	<div id="jugadores">
		jugadores
	</div>
	<div id="aciertos">
		aciertos
	</div>
	<div id="pregunta">
		preguntas
	</div>
	<div id="respuesta_1">
		respuesta1
	</div>
	<div id="respuesta_2">
		respuesta2
	</div>
	<div id="respuesta_3">
		respuesta3
	</div>
	<div id="respuesta_4">
		respuesta4
	</div>
	<div id="timing">
		timing
	</div>
</body>
</html>