<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TriviaBomb: {{name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../lobby.css" />
    <link rel="icon" type="image/PNG" href="../icono.PNG">
    <script src="socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        socket.on('users', users => {
            document.getElementById('list').innerHTML = users;
        });
        
        function ready() {
            socket.emit('changeStatus', {
                status: true,
                username: `{{name}}`
            });
        }
    </script>
</head>

<body>
    <header>
        <h1>Bienvenido {{name}}</h1>
        <h2>Sala de Espera</h2>
        <div id="ready_checkbox" onclick="ready()">Estoy listo (Presiona aquí cuando estes listo para iniciar)!!</div>
    </header>
    <main id="list">
    </main>
    <footer>
        <a href="/inicio?name={{name}}">Ir al juego</a>
    </footer>
</body>

</html>